body {
  height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
